{% extends "base.html" %}
{% block content %}
<div class="jumbotron"></div>
<div class="row">
  {% for category, articles in categories %}
    {% if category.name.lower() == 'events' %}
      {% for article in articles[:4] %}
  <div class="col25">
    <h2>{{ article.title }}</h2>
    <p>{{ article.summary }}</p>
    <a href="{{ article.url }}" class="btn-readmore"><span>Read More</span></a>
  </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
<div class="row">
  <div class="col75">
    <h2>About Us</h2>
    {% for page in pages %}
      {% if page.slug == 'about' %}
        {{ page.summary }}
      {% endif %}
    {% endfor %}
    <a href="#" class="btn-readmore"><span>Read More</span></a>
  </div>
  <div class="col25">
    <h2>Projects</h2>
    <ul>
      {% for article in articles %}
      {% if article.category.name.lower() == 'projects' %}
      <li class="clearfix">
        <a href="{{ article.url }}"><h3>{{ article.title  }}</h3></a>
        {% if article.image %}<img src="/theme/images/{{ article.image }}">{% endif %}
        <p>{{ article.summary }}</p>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
